[Desktop Entry]
Version=0.17.6
Name=SICash Core Testnet
Comment=Connect to the SICash P2P Network Testnet
Exec=sicash-qt -testnet %u
Terminal=false
Type=Application
Icon=sicashtestnet128
MimeType=x-scheme-handler/sicash;
Categories=Network;
StartupWMClass=SICash-qt-testnet
Name[en_US]=sicash-qt-testnet
